services:
  nats:
    image: nats:2.9-alpine
    ports:
      - "4222:4222"
      - "8222:8222"
    command: "-js"
    volumes:
      - nats_data:/data
    networks:
      - app-network
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network

volumes:
  nats_data:

networks:
  app-network:
    driver: bridge